.window{
   background-image: url('../../../assets/lib.jpg');
   background-size: cover;
   width: 100%;
   height: 86%;
   position: fixed
}
.container{
    width: 50%;
    height: 50%;
    text-align: center;
    transform: translate(50%,25%);
    background-color:#f0dcf7; 
    opacity: 0.8 ;
    z-index: auto;
    position: relative;

}
.container button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #a412d1;
    width: 6rem;
    border: 0;
    padding: 13px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease; 
    cursor: pointer;
    margin: 1rem;
  
    
}
.container input{
    margin-top: 1.5rem;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 50%;
    height: 3rem;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    background:#d6ffff ;
    opacity: 1;
    margin-left: 1rem;
  
}