 <!-- <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>  -->
<div class="window">
  <div class="table-responsive">
    <table class="table">
      <tr>
        <td>
          <div class="form-group">
            <input id="email" type="email"class="form-control" [(ngModel)]="userDetail.emailID" name="email" placeholder="Email ID" required />
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <input type="password"class="form-control" [(ngModel)]="userDetail.password" placeholder="Password" required/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <button (click)="gotoUser()">SignIn</button>
            <button (click)="gotoHome()">Cancel</button>
          </div>
        </td>
      </tr>
    </table>
  </div>

</div>