.window {
   background-image: url('../../../assets/lib.jpg');
   background-size: cover;
   width: 100%;
   height: 100vh;
   position: fixed
}
.table-responsive {
    padding: 10px; 
    width: 30%;
    height: 40%;
    text-align: center;
    transform: translate(100%,25%);
    background-color:#f0dcf7; 
    opacity: 0.8 ;
    z-index: auto;
    position: relative;
    box-sizing: content-box;
} 

td,th {
    font-family: "Roboto", sans-serif;
    color: #a412d1;
    font-size: 19px;
    height: 3rem;
    text-align: center;
}
/* smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .table-responsive {
        padding: 0px;
        width: 52%;
        height: 40%;
        text-align: center;
        transform: translate(36%,25%);
        background-color:#f0dcf7;
        opacity: 0.8 ;
        box-sizing: content-box;
    }
    th,td {
        font-size: 14px;
    }
    
}   
/*iPad  */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .table-responsive {
        width: 43%;
        height: 40%;
        transform: translate(56%,25%);
        text-align: center;
        background-color:#f0dcf7;
        opacity: 0.8 ;
        box-sizing: content-box;
    }
       th,td {
        font-size: 22px;
    } 
}     