.table-responsive{
    width: 50%;
    height: 80%;
    text-align: center;
    transform: translate(50%,15%);
    background-color:#f0dcf7;
    opacity: 0.8 ;
     z-index: auto; 
    position: fixed;
}
 input{
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 30rem;
    height: 5rem;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    background:#d6ffff ;
    opacity: 1;
    margin-left: 6rem;

  
}
th{
    font-family: "Roboto", sans-serif;
    color: #a412d1;
    font-size: 19px;
    text-align: left;
   
    text-transform: uppercase;
}

.window{
    background-image: url('../../assets/lib.jpg');
    background-size: cover;
    width:100%;
    height: 100vh;
    
}
 button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #a412d1;
    width: 30rem;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease; 
    cursor: pointer;
    margin-top: 1rem; 
    margin-left: 6rem;
    display: block;
   }
table{
    border-collapse: collapse;
    width:27rem;
  } 