<div class="window">
  <div class="container">
    <table>
      <tr>
        <th>Name</th>
    
        <td><div class="name">
              <input type="text" placeholder="Name" />
            </div>
        </td>
      </tr>
      <tr>
        <th>Email ID</th>

        <td><div class="email">
              <input type="text" placeholder="Email ID" />
            </div>
        </td>
      </tr>
      <tr>
        <th>Password</th>

        <td><div class="password">
              <input type="password" placeholder="Password" />
            </div>
        </td>
      </tr>
      <tr>
        <th>Contact</th>

        <td><div class="phone">
              <input type="text" placeholder="Phone Number" />
            </div>
        </td>
      </tr>
      <tr>
        <td>       </td>
        <td>
          <div>
            <button (click)="gotoLogin()">Sign Up</button>
            <button (click)="gotoHome()">Cancel</button>
          </div>
        </td>
      </tr>
   </table>
  </div>
</div>

