<div class="window">
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Name</th>
    
        <td><div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="user.userName" placeholder="Name" required />
            </div>
        </td>
      </tr>
      <tr>
        <th>Email ID</th>

        <td><div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="user.emailID" placeholder="Email ID" required />
            </div>
        </td>
      </tr>
      <tr>
        <th>Password</th>

        <td><div class="form-group">
              <input type="password" class="form-control" [(ngModel)]="user.password"  placeholder="Password" required />
            </div>
        </td>
      </tr>
      <tr>
        <th>Contact</th>

        <td><div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="user.phoneNo" maxlength = "10" placeholder="Phone Number" required />
            </div>
        </td>
      </tr>
      <tr>
        <td>       </td>
        <td>
          <div>
            <button class="signupbtn" (click)="gotoLogin()">Sign Up</button>
            <button class="cancelbtn" (click)="gotoHome()">Cancel</button>
          </div>
        </td>
      </tr>
   </table>
  </div>
</div>