<div class="about">
<h1>History</h1>
<p>
 What is now Multnomah County Library dates its existence from 1864, a time when Portland was a frontier town with frame buildings, muddy streets and few sidewalks. A small group of Portland citizens met to establish a subscription library and reading room, organizing under the name "Library Association of Portland."

On March 10, 1902, the library became a tax-supported free public library, open to all residents of Portland. In 1903, services were extended to all residents of Multnomah County and the Multnomah County commissioners became ex officio members of the library board.

Mary Frances Isom
Mary Frances Isom
Under the leadership of Mary Frances Isom from 1902 to 1920, the library experienced a period of unprecedented growth. Central Library, located at 801 S.W. 10th in downtown Portland, opened in September 1913. Designed by architect A.E. Doyle, the building took two years to build at a cost of $480,000. The Central Library building, now on the National Register of Historic Places, continues to be the heart of what has become a system of branch libraries that serves library users all over Multnomah County.

On July 1, 1990, after 126 years of guiding the library to the respected community position it currently enjoys, the Library Association of Portland transferred ownership of the library's buildings, books and other holdings to the people of Multnomah County, to be governed by the Multnomah County Board of Commissioners.

On November 6, 2012, voters approved formation of the Multnomah County Library District to fund library services. Library district funding took effect July 1, 2013.
</p>
</div>