.about {
    background-color: #f0dcf7;
    margin-top: -1rem;
   
    text-align: left;
}

h1 {
      color: #a412d1;
      text-align: left;
      background-color: #f0dcf7;

}
   p{
        height: 49rem;
      
    }  
