 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> 
<div class="window">

  <h1><strong>Public Library</strong></h1>
  <h2><strong> Hi, User</strong></h2>
  <div class="tabs">
    <span class="home" (click)="gotoHome()">Home</span>
    <span class="about" (click)="gotoAbout()">About</span>
    <span class="contact" (click)="gotoContact()">Contact Us</span>
      <div id="mySidenav" class="sidenav">
       <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a href="/welcomepage/home">Logout</a> 

    </div> 

     <div class="button" (click)="openNav()">
      <div class="a"></div>
      <div class="a"></div>
      <div class="a"></div>
    </div>  
  <router-outlet></router-outlet>
  </div>
</div>