
<div class="window">

  <h1><strong>Library</strong></h1>
  <h2><strong> Hi, User</strong></h2>
  <div class="tabs">
    <span class="home" (click)="gotoHome()">Home</span>
    <span class="about" (click)="gotoAbout()">About</span>
    <span class="contact" (click)="gotoContact()">Contact Us</span>
      <div id="mySidenav" class="sidenav">
       <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a href="/welcomepage/home">Logout</a> 

    </div> 

     <div class="button" (click)="openNav()">
      <div class="a"></div>
      <div class="a"></div>
      <div class="a"></div>
    </div>  
  <router-outlet></router-outlet>
  </div>
</div>