<div class="window">
    <div class="container">
      <div class="booksearch" (click)="navigateTo('/user/booksearch')">
        <div class="allignfirst"><div><br><br><br> <br>Search</div></div>
    </div> 
     <div class="return" (click)="navigateTo('/user/return')"> 
        <div class="allignsecond">  <span><br><br><br> <br>Return</span>   </div>
    </div> 
 <div class="history" (click)="navigateTo('/user/history')">
    <div class="allignthird">  <span><br> <br><br> <br> History</span> </div>   
</div>  
</div>
</div>
