.window {
   
   width: 100%;
   height: 100%;
   position: fixed
}

.container {
   background-image: url('../../../assets/lib.jpg');
   background-size: cover;
   width: 100%;
   height: 100%;
   
}
 .booksearch{
    height: 20vh;
    width: 12vw;
    transform: translate(73%, 138%);
    background-color:  #f0dcf7;
    background-image: url('../../../assets/booksearch.jpg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #A6ACAF;
    text-align: center; 
    cursor: pointer;
} 
   
    .return{
    height: 20vh;
    width: 12vw;
    background-color:  #f0dcf7;
    transform: translate(349%, 38% );
    opacity: 1;
    text-align: center; 
    background-image: url('../../../assets/bookreturn.png');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #A6ACAF;
    cursor: pointer;
}

     .history{
    height: 20vh;
    width: 12vw;
    
   transform: translate(625% , -64%);
    background-color:  #f0dcf7;
    background-image: url('../../../assets/bookhistory.jpg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #A6ACAF;
    opacity: 1;
    text-align: center; 
    cursor: pointer
}
      .allignfirst{
     
    font-family: cursive;
}  
 .allignsecond{

    font-family: cursive;
}
.allignthird{

    font-family: cursive;
}

  
/* smartphones */
 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.window {
   
   width: 100%;
   height: 100%;
   
}
.booksearch{
    height: 22vh;
    width: 44vw;
    background-size: 87px 101px;
    transform: translate(59%, 6%);
   
}
.return{
    display: block;
    height: 22vh;
    width: 44vw;
    background-size: 87px 101px;
    transform: translate(59%, 7% );
}
    .history{
    display: block;
    height: 22vh;
    width: 44vw;
    background-size: 87px 101px;
    transform: translate(59%, 8% );
    }
.allignfirst{
    margin-top: 9rem;
    font-size: 20px;
}
.allignsecond{
    margin-top: 9rem;
    font-size: 20px;
}
.allignthird{
    margin-top: 9rem;
    font-size: 20px;
}
 }

  /*iPad  */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .window {
   
   width: 100%;
   height: 100%;
   
}
.booksearch{
    height: 23vh;
    width: 44vw;
    background-size: 123px 145px;
    transform: translate(59%, 6%);
   
}
.return{
    display: block;
    height: 23vh;
    width: 44vw;
    background-size: 123px 145px;
    transform: translate(59%, 7% );
}
    .history{
    display: block;
    height: 23vh;
    width: 44vw;
    background-size: 123px 145px;
    transform: translate(59%, 8% );
    }
.allignfirst{
    margin-top: 13rem;
    font-size: 36px;

}
.allignsecond{
    margin-top: 13rem;
    font-size: 36px;
}
.allignthird{
    margin-top: 13rem;
    font-size: 36px;
}
 }
 /*iPad  pro */
 @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px){
     .window {
   
   width: 100%;
   height: 100%;
   
}
.booksearch{
    height: 25vh;
    width: 44vw;
    background-size: 161px 191px;
    transform: translate(59%, 6%);
   
}
.return{
    display: block;
    height: 25vh;
    width: 44vw;
    background-size: 161px 191px;
    transform: translate(59%, 7% );
}
    .history{
    display: block;
    height: 25vh;
    width: 44vw;
    background-size: 161px 191px;
    transform: translate(59%, 8% );
    }
.allignfirst{
    margin-top: 18rem;
    font-size: 53px;

}
.allignsecond{
   margin-top: 18rem;
    font-size: 53px;
}
.allignthird{
    margin-top: 18rem;
    font-size: 53px;
}
 }