.window{
   
   width: 100%;
   height: 100%;
   position: fixed
}
.container{
 background-image: url('../../../assets/lib.jpg');
   background-size: cover;
   position: relative;
   width: 100%;
   height: 100%;
   /* margin-top: 20px; */
}
.booksearch{
    height: 23vh;
    width: 10vw;
    /* margin-left: 15%; */
    background-color:  #f0dcf7;
    /* margin-top: 9%; */
      transform: translate(155% , 129%);
    /* position: fixed; */
    background-image: url('../../../assets/booksearch.jpg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #A6ACAF;
    opacity: 1;
     text-align: center; 
     cursor: pointer;
}
    .return{
    height: 23vh;
    width: 10vw;
    /* margin-left: 42%; */
    background-color:  #f0dcf7;
    /* margin-top: 9%; */
    /* transform: translate(400% , 129%); */
    top: 50%;
    left: 50%;                
    /* position: fixed; */
    background-image: url('../../../assets/bookreturn.png');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #A6ACAF;
    opacity: 1;
     text-align: center; 
     cursor: pointer
}
     .history{
     height: 23vh;
    width: 10vw; 
    /* margin-left: 70%; */
    transform: translate(635% , 129%);
    background-color:  #f0dcf7;
    /* margin-top: 9%; */
    /* position: fixed; */
    background-image: url('../../../assets/bookhistory.jpg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #A6ACAF;
    opacity: 1;
     text-align: center; 
     cursor: pointer
}
    .allignfirst{
    padding-top: 86%;
    
    font-family: cursive;
}
 .allignsecond{
    padding-top: 86%;
    
    font-family: cursive;
}
.allignthird{
    padding-top: 86%;
    
    font-family: cursive;
}
.booksearch:hover, .return:hover, .history:hover{
    height: 24vh;
    width: 11vw;
    box-shadow: 10px 10px 5px black;
}