.table-responsive {
    padding: 10px;
    width: 43%;
    height: 50%;
    text-align: center;
    transform: translate(55%,25%); 
    background-color:#f0dcf7; 
    opacity: 0.8 ;
    z-index: auto;
    box-sizing: content-box;
    position: relative;
} 

th {
    font-family: "Roboto", sans-serif;
    color: #a412d1;
    font-size: 19px;
    text-align: center;
    padding-top: 3rem;

}

.window {
   background-image: url('../../../assets/lib.jpg');
   background-size: cover;
   width: 100%;
   height: 86%;
   position: fixed
}

button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #a412d1;
    width: 6rem;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease; 
    cursor: pointer;
    
}

table {
    border-collapse: collapse;
    width:50rem; 
  } 