.table-responsive{
     padding: 10px;
    width: 50%;
    height: 50%;
    text-align: center;
    transform: translate(50%,25%); 
    background-color:#f0dcf7; 
    opacity: 0.8 ;
    z-index: auto;
    box-sizing: content-box;
    
} 
th{
    font-family: "Roboto", sans-serif;
    color: #a412d1;
    font-size: 19px;
    text-align: center;
    padding-top: 3rem;
    text-transform: uppercase;
}

.window{
   background-image: url('../../../assets/lib.jpg');
   background-size: cover;
   width: 100%;
   height: 86%;
   position: fixed
}

 button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #a412d1;
    width: 10rem;
    height: 3rem;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-left: 1rem;

   }
table{
    border-collapse: collapse;
    width:40rem;
  } 